Source: statuscol.nvim
Section: editors
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-vim-addon,
Standards-Version: 4.6.2
Homepage: https://github.com/luukvbaal/statuscol.nvim
Vcs-Browser: https://github.com/dimitry-ishenko-neovim/statuscol.nvim
Vcs-Git: https://github.com/dimitry-ishenko-neovim/statuscol.nvim.git
Rules-Requires-Root: no

Package: neovim-statuscol
Architecture: all
Depends:
 ${misc:Depends},
 ${vim-addon:Depends},
 neovim (>= 0.10),
Description: Status column plugin
 Status column plugin that provides a configurable 'statuscolumn' and click
 handlers.
